{# templates/lucky/number.html.twig #}
<h1>Your lucky number is {{ number }}</h1>
<div id="like_button_container"></div>
{% block javascripts %}
            {{ encore_entry_script_tags('test') }}
{% endblock %}