
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}My Application{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="/css/utilities.css"/>
            <link rel="stylesheet" type="text/css" href="/css/styles.css"/>
        {% endblock %}
    </head>
    <body>    
        {% block body %}
            <header>
                <div class="navbar">                    
                    <div class="flex">          
                        {% block sidebar %}
                            <h1 class="logo">Logo</h1>
                            <nav>
                                <ul>
                                    <li><a href="#">Home</a></li>
                                    <li><a href="#">About</a></li>
                                    <li><a href="#">Contact</a></li>
                                    <li><a href="/logout">Logout</a></li>
                                </ul>
                                <div class="nav-icon">
                                    <span>Icon</span>
                                    <div class="dropdown-nav">
                                        <a href="#">Home</a>
                                        <a href="#">About</a>
                                        <a href="#">Contact</a>
                                        <a href="/logout">Logout</a>
                                    </div>
                                </div>
                            </nav>
                        {% endblock %}
                    </div>
                </div>
            </header>

            <div id="content">
                {% block content %}{% endblock %}
            </div>
        {% endblock %}
    </body>
</html>
