{% extends 'base.html.twig' %}

{% block title %}Create User{% endblock %}

{% block body %}
    <section class="connection">
        <div class="container">
            <div class="card">
                <form action="/user" method="post">
                    <div class="grid grid-connection">
                        <label for="inputPseudo">Pseudo :</label>
                        <input id="inputPseudo" type="text" name="pseudo" placeholder="name">
                        <label for="inputPassword">Mot de passe :</label>
                        <input id="inputPassword" type="password" name="password" placeholder="password">
                        <input class="button" type="submit" value="Création">
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
